@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik+Moonrocks&display=swap");
fieldset {
  background-color: #DDE392;
  display: grid;
  padding: 1rem;
  font-size: 24px;
  margin: 0.5rem;
}
fieldset > div {
  display: grid;
}

body.dark fieldset {
  color: #b0e4e6;
  background-color: #264027;
}

body.dark {
  background-color: #3C5233;
}

input[type=checkbox] ~ .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  transition: 1s;
}

.dark input[type=checkbox] .checkmark {
  background-color: #6F732F;
  border: solid 1px #b0e4e6;
}

.container:hover input[type=checkbox] ~ .checkmark {
  background-color: #646F58;
}

.container input[type=checkbox]:checked ~ .checkmark {
  background-color: #b0e4e6;
  box-shadow: 0px 3px 2px 3px #0D1F22;
}

.container input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark.checkbox:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #6F732F;
  border-radius: 3px;
  border-width: 0px 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

input[type=radio] ~ .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  transition: 1s;
}
input[type=radio] .checkmark.radio:after {
  display: none;
}

.dark input[type=radio] .checkmark {
  background-color: #6F732F;
  border: solid 1px #b0e4e6;
}

.container:hover input[type=radio] ~ .checkmark {
  background-color: #646F58;
}

.container input[type=radio]:checked ~ .checkmark {
  background-color: #b0e4e6;
  box-shadow: 0px 3px 2px 3px #0D1F22;
}

.container input[type=radio]:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark.radio:after {
  left: 6px;
  top: 6px;
  background-color: #6F732F;
  width: 8px;
  height: 8px;
  border: solid #6F732F;
  border-radius: 50%;
}

button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: transform 0.1s, box-shadow 0.1s;
  cursor: pointer;
}
button:hover {
  transform: translate(-0.1rem, -0.1rem);
  box-shadow: 2px 2px 7px black;
}
button#dark-mode {
  color: #646F58;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 50%;
  background-color: #DDE392;
}
.light > button#dark-mode {
  color: #6F732F;
  background-color: #0D1F22;
}

.dark .swal-modal {
  background-color: #6F732F;
  border: 3px solid white;
  border-radius: 10px;
}
.dark .swal-modal .swal-button {
  background-color: #264027;
}

.swal-modal {
  background-color: #7D8570;
  border: 3px solid white;
  border-radius: 10px;
}
.swal-modal .swal-button {
  background-color: #DDE392;
  color: black;
}

input[type=textfield] {
  display: block;
  opacity: 1;
  width: 400px;
  height: 400px;
  background-color: white;
}

.main-fieldset {
  display: block;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
}

h3 {
  font-size: 28px;
}

h1 {
  font-family: "Rubik Moonrocks";
}