@use "../utilities/variables" as *;

fieldset{
    background-color: map-get($light-theme, "yellow");
    display: grid;
    padding: 1rem;
    font-size: 24px;

    & > div{
        display: grid;
    }

    margin: 0.5rem;

}

body.dark fieldset{
    color: map-get($dark-theme, "fontcolor");
    background-color: map-get($dark-theme, "green3");
}