button{
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: transform 0.1s, box-shadow 0.1s;
    cursor: pointer;

    &:hover{
        transform: translate(-0.1rem, -0.1rem);
        box-shadow: 2px 2px 7px black;
    }
}